.logo{
    margin: 0%;
    margin-bottom: 34px;
}
.logo img{
    height: 41px;
    margin: -40px 34px
}
#navbar ul li a{
    padding-left: 6px;
    font-size: 0.7rem;
}
#client img{
    padding: 0px;
    width: 40px;
    height: auto;
}
#contact-box form{
    width: 63%;
}